.autocomplete-input {
  width: 100%;
}

.container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 1px 8px;
  padding: 40px;
  border-radius: 50px;
  margin-top: 50px;
  max-width: 50%;
}

.form-control {
  margin: 20px 0;
}
